/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
	box-sizing: border-box;
	@include font-size(1);
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: $base__space-unit;
}

ul, ol {
	margin: 0 0 $base__space-unit ($base__space-unit * 2);
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $base__space-unit;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $base__space-unit $base__space-unit;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 $base__space-unit;
	width: 100%;
}
.green-button{
	display: inline;
	background: #248a83;
	border: none;
	font-family: 'Novecento Sans Web';
	font-style: normal;
	font-weight: normal;
	border-radius: 0px;
	color: white;
	font-size: .9rem;
	line-height: 1;
	padding: .75rem 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: none;
	box-shadow: none;
	&:hover{
		background: #1a6d68;
	}
	p{
		margin: 0px;
	}
}
.white-button{
	background: transparent;
	border: 1px solid white;
	@extend .green-button ;
	&:hover{
		border: none;
	}
}
.black-button{
	background: white;
	border: 1px solid black;
	color: black;
	@extend .green-button ;
	&:hover{
		border: none;
		color: white;
	}
}
