/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.page-template{
  .site-main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .entry-header{
    width: 100%;
  }
}
/*products preview*/
.products-preview{
  margin-top: 20px;
  width: 1120px;
  h2{
    font-family: 'Novecento Sans Web';
    font-style: normal;
    font-weight: normal;
    color: #2f1339;
    font-size: 40px;
    text-align: center;
    grid-row: 1/1;
    grid-column: 2/4;
    margin-bottom: 50px;
  }
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 25% 75%;
  grid-column-gap: 20px;
  .products-preview-do{
    grid-row: 2/2;
    grid-column: 1/2;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    text-align: center;
    padding: 10px;
    &:hover{
      border-color: #d99054;
    }
  }
  .products-preview-eat{
    grid-row: 2/2;
    grid-column: 2/3;
    @extend .products-preview-do ;
  }
  .products-preview-sleep{
    grid-row: 2/2;
    grid-column: 3/4;
    @extend .products-preview-do ;
  }
  .products-preview-wear{
    grid-row: 2/2;
    grid-column: 4/5;
    @extend .products-preview-do ;
  }
  img {
    height: 70px;
    width: 70px;
  }
  .green-button{
    display: inline-flex;
    margin-bottom: 10px;
  }
}

/*journal preview*/
.journal-preview{
  margin-top: 20px;
  width: 1120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 25% 75%;
  grid-column-gap: 20px;
  .journal-title{
    font-family: 'Novecento Sans Web';
    font-style: normal;
    font-weight: normal;
    color: #2f1339;
    font-size: 40px;
    text-align: center;
    grid-row: 1/1;
    grid-column: 1/4;
    margin-bottom: 50px;
  }
  .journal-preview-post{
    border: 1px solid #e1e1e1;
    h2{
      margin: 0px;
    }
  }

  img{
    max-height: 240px;
    border-bottom: 3px solid #e1e1e1;
  }
  .content-wrapper{
    border: 15px solid white;
    p{
      margin: 0px;
      font-size: 12px;
    }
    h2{
      line-height: 1.25;
      letter-spacing: 2px;
      font-size: 1.3em;
    }
    .black-button{
      display: inline-flex;
      margin-top: 13px;
    }
  }
}
.adventures-preview-continer{
  margin-top: 20px;
  margin-bottom: 60px;
  width: 1120px;
  h2{
    text-align:center;
    font-size: 40px;
    font-weight: 400;
    color: #2f1339;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.adventures-preview{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 265px);
  grid-gap: 20px 20px;
  margin-bottom: 40px;
  .Star-Gazing {
    grid-column: 4/5;
    grid-row: 2/3;
    h3{
      font-size: 26px;
      margin: 0px;
      color: white;
      font-family: "Merriweather";
      font-weight: 400;
      padding: 50px 24px 24px 24px;
      text-transform: none;
      line-height: 1.25;
    }
    .adventure-preview-image{
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
    }
    .white-button{
      margin-left: 24px;
    }
  }
  .Taking {
    grid-column: 3/4;
    grid-row: 2/3;
    @extend .Star-Gazing ;
  }
  .A {
    grid-column: 3/5;
    grid-row: 1/2;
    @extend .Star-Gazing ;
    h3{
      font-size: 38px;
    }
  }
  .Getting {
    grid-column: 1/3;
    grid-row: 1/3;
    h3{
      font-size: 48px;
      margin: 0px;
      color: white;
      font-family: "Merriweather";
      font-weight: 400;
      padding-top: 24px;
      text-transform: none;
      padding: 50px 24px 24px 24px;
      line-height: 1.25;
    }
    .adventure-preview-image{
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .white-button{
      margin-left: 24px;
    }
  }
}
/*about page*/
.page-template, .single-adventures{
  #masthead{
    position: absolute;
    background-color: transparent;
    color: white;
    border: none;
    .site-title{
      background: url(../../images/logos/inhabitent-logo-tent-white.svg) no-repeat;
      background-size: 50px 33px;
    }
    a{
      text-decoration: none;
      color: inherit;
    }
  }
  .content-area{
    color: #404040
  }

  .entry-content {
    h2{
      text-align: center;
      color: #2f1339;
      font-size: 34px;
    }
    max-width: 800px;
    margin-bottom: 50px;
  }
}
/*404 page*/
